*{
  margin: 0;
  padding: 0;
  /* overflow-x: auto; */
}

.service{
  border: 1px solid black;
  border-radius: 5px;

  padding: 7px;

  font-size: 1.0rem;
}

.publish{
  /* border: 1px solid white; */
  border-radius: 5px;
  padding: 7px;
  /* padding-right: 5px; */
  font-size: 1.0rem;
  color: rgb(151, 138, 138);
}

.save{
  font-size: 12px;
}
.save-text{
  font-weight: bolder;
  font-size: 13px;
  color: whitesmoke;
}

 
.draw-container{
  display: flex;
   

}
 
.draw-box{
  
  width: 5%;
  /* background-color: green; */
  height: 5vh;
  margin: 2px;
  padding: 20px;
  /* z-index: 0; */

}

.draw-area{
  background-color: rgb(212, 209, 209);
  height: 80vh;
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin:0;
  padding: 0;

}
 
.tables-main{
  margin: 0;
  padding: 0;
  
}
.table-row{
  background-color: rgb(253, 254, 255);
  width: 100%;
  height: 70vh;
  margin-left: 40%;
  padding: 0;
  
}

.table-shapes{
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
}

.circle{
  
  border: 2px solid black;
  border-radius: 50px;
  width: 40;
  padding: 20px;
  height: 40;
  font-size: 30px;
  cursor: move;
  /* margin-left: 20px; */
  margin-right: 10px;
  z-index: 2;
}

.rectangle{
  background-color: white;
  border: 2px solid black;
  width: 40;
  height: 40;
  margin-right: 10px;
  padding: 20px;
  font-size: 30px; 
  z-index: 2;
  cursor: move;
}

.diamond{
  background-color: white;
  border: 2px solid black;
  width: 30;
  padding: 17px;
  height: 20;
  z-index: 2;
  margin-left: 10px;
  transform: rotate(45deg);
  cursor: move;
  margin-right: 20px;
}

.barrier-bold{
  background-color: black;
  width: 70%;
  height: 15px;
  z-index: 2;
  cursor: move;
}

.barrier-hollow{
 
  border: 2px solid black;
  width: 70%;
  height: 30px;
  cursor: move;
  z-index: 2;
}

.barrier-label{
 
  border: 1.5px solid rgb(160, 156, 156);
  width: 60%;
  height: 30px;
  cursor: move;
  z-index: 2;
}
.barrier-label,span{
  font-size: 0.9rem;
  color: rgb(82, 80, 80);
  text-align: center;
  padding-top: 5px;
}

.hold-circle{
  
  border: 2px solid black;
  border-radius: 50px;
  width: 5%;
  padding: 20px;
  height: 40;
  font-size: 30px;
  cursor: move;
  z-index: 2;
}
.hold-circle-original{
  border: 2px solid black;
}

.hold-rectangle{
  
  border: 2px solid black;
  width: 40;
  height: 40;

  padding: 20px;
  font-size: 30px; 
  z-index: 2;
  cursor: move;
}
.hold-rectangle-original{
  border: 2px solid black;
}
.hold-diamond{
  border: 2px solid black;
  width: 30;
  padding: 17px;
  height: 20;
  z-index: 2;
  transform: rotate(45deg);
  cursor: move;
}
.hold-diamond-original{
  border: 2px solid black;
}

.dropped_barrier_bold{
  background-color: black;
  width: 20%;
  height: 10px;
  z-index: 2;
  cursor: move;
}

.dropped_barrier_hollow{
  border: 2px solid black;
  width: 20%;
  height: 25px;
  cursor: move;
  z-index: 2;
}

.dropped_barrier_label{

  border: 1.5px solid rgb(160, 156, 156);
  width: 20%;
  height: 30px;
  cursor: move;
  z-index: 2;
}

.dropped_barrier_label, span{
  font-size: 0.9rem;
  color: rgb(82, 80, 80);
  text-align: center;
  padding-top: 3px;
}

@media only screen and (max-width: 980px) {
  .circle{
      margin-bottom: 30px;
  }
  .rectangle{
      margin-bottom: 30px;
  }
  .diamond{
      margin-bottom: 30px;
  }
}


@media only screen and (max-width: 850px) {

  .table-row{
      display: flex;
      height: 30vh;
  }
  .circle{
      border: 2px solid black;
      border-radius: 50px;
      width: 40;
      padding: 20px;
      height: 40;
      font-size: 30px;
      cursor: move;
      /* margin-left: 20px; */
      margin-right: 10px;
      z-index: 2;
     
  }
  .rectangle{
      border: 1px solid black;
      width: 40;
      height: 40;
      margin-right: 10px;
      padding: 20px;
      font-size: 30px; 
      z-index: 2;
      cursor: move;
  }
  .diamond{
      border: 1px solid black;
      width: 30;
      padding: 17px;
      height: 20;
      z-index: 2;
      margin-left: 10px;
      transform: rotate(75deg);
      cursor: move;
      margin-right: 20px;
  }
}